<header>
    <a href="#" [routerLink]="''">
        <span>Inicio</span>
    </a>
    <a href="#">
        <span>Pokemon's</span>
    </a>
    <a href="#">
        <img src="assets/images/logo_pokemon.png" alt="logo do pokémon">
    </a>
    <span *ngIf="user">{{user.displayName}}</span>
    <span *ngIf="!user">Bem-vindo</span>
    <a href="#" [routerLink]="'login'" *ngIf="!user">
        <span>Entrar</span>
    </a>
    <a href="#" (click)="sair()" *ngIf="user">
        <span>Sair</span>
    </a>
</header>